<div class="contaier-fluid">
    <div class="col-xs-12">
  <h3>Directives Assignment</h3>
  <hr>
    <!-- <app-directives></app-directives> -->

    <div *appUnless="onlyOdd">
      <li class="list-group-item" *ngFor="let even of evenNumbers">
{{even}}
      </li>

    </div>

   </div>



   <div class="col-xs-12">
<p appBasicHighlight>Style with our custom basic hightlight directive !</p>
<p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style with our custom better highlight directive !</p>
   </div>

   <div [ngSwitch]="value">
    <p *ngSwitchCase="5">Value is 5</p>
    <p *ngSwitchCase="10">Value is 10</p>
    <p *ngSwitchCase="100">Value is 100</p>
    <p *ngSwitchDefault>Value is Default</p>
   </div>
  </div>

